wheel>=0.35.1
argparse>=1.4.0
boto3>=1.16.28
botocore>=1.19.28
distlib>=0.3.1
dlib>=19.21.1
flake8>=3.9.0
imageio>=2.9.0
imutils>=0.5.3
jsonschema>=3.2.0
numpy>=1.19.4
Pillow>=8.1.2
pytest>=6.2.2
python-dateutil>=2.8.1
python-dotenv>=0.15.0
ratelimit>=2.2.1
requests>=2.25.1
s3transfer>=0.3.3
