.App, html {
  text-align: center;
  background-color: gray;
  height: 100%;
  width: 100%;
}

div[class$='-wrapper'] {
  background-color: gray;
}

h1[id$='_header'], h2[id$='_header'] {
  text-align: center;
  color: purple;
}

#home_subheader {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}

#back_button {
  margin-bottom: 2%;
}

#video_display {
  position: absolute;
  right: 0%;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  width: 50%;
  height: 50%;
  padding-bottom: 6%;
}

.lock-display {
  margin-top: 5%;
}

.unlock-display {
  margin-top: 5%;
}
