#authenticate_header {
    text-align: center;
}

.lock-display {
    position: absolute;
    left: 0.3%;
    width: 50%;
    padding-right: 1%;
}

.unlock-display {
    position: absolute;
    right: 0.5%;
    width: 50%;
    padding-left: 0.5%;
}
