.register-wrapper, html {
    background-color: gray;
    height: 100%;
    width: 100%;
}

#register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
